.form {
	width: 90%;
	margin: auto;
	border: 1px solid black;
	border-radius: 4px;
	padding: 30px;
	margin-bottom: 50px;
	margin-top: 100px;
	font-size: 24px;
}
.input-field {
	display: flex;
	align-items: center;

	justify-content: center;
	margin-bottom: 15px;
	flex-direction: column;
}
label {
	width: 100%;
	margin-bottom: 10px;
}
input {
	width: 100%;
	outline: none;
	padding: 0 10px;
	height: 30px;
}
.form button {
	background-color: blueviolet;
	color: white;
}
.error-message {
	display: block;
	height: 30px;
	margin-top: 10px;
	color: red;
	width: 100%;
	/* margin-left: 30%; */
	text-align: right;
}

input.error {
	border: 1px solid red;
}
input.correct {
	border: 1px solid green;
}

@media (max-width: 1024px) {
	.form {
		width: 90%;
	}
	.input-field {
		flex-direction: column;
	}
	label {
		margin-bottom: 5px;
		text-align: center;
		margin-right: 0;
		width: 100%;
	}
	input {
		width: 90%;
	}
	.error-message {
		text-align: center;
		width: 100%;
		margin-left: 0;
		height: 20px;
	}
}
#reg label {
	width: 100%;
	text-align: center;
	margin: 0;
	margin-bottom: 10px;
}
#reg {
	margin: 0 auto;
	padding: 0 10px;
}
#reg .input-field {
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 5px;
}
#reg input {
	width: 100%;
	border: none;
}

/*modal*/
.modal {
	border: 1px solid black;
	display: none;
	width: 100%;
	height: 100%;
}
.modal.open {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
	max-width: 600px;
	width: 90%;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.9);

	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	font-size: 24px;
}
.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 5px;
	color: white;
}

.modal-body {
	padding: 10px;
}

table td,
th {
	border: 1px solid;
}
table {
	border-collapse: collapse;
	width: 100%;
	margin: 50px auto;
}
.dlt {
	color: white;
	background-color: darkred;
}
.edit {
	color: white;
	background-color: darkgreen;
	margin-bottom: 5px;
	margin-top: 5px;
}
td,
th {
	padding: 5px 10px;
	word-break: break-word;
}
.btn {
	padding: 10px 15px;
	border: none;
}
thead th {
	font-size: 20px;
	color: white;
	text-align: left;
	padding: 10px;
}
tr:nth-child(2n) {
	background-color: lightblue;
}
tr:nth-child(2n + 1) {
	background-color: darkcyan;
}
thead tr:nth-child(2n + 1) {
	background-color: darkblue;
}
tbody td:first-child {
	font-weight: bold;
}
